@model CRM3.Models.CompanyDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CompanyDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPersonOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPersonOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalEmailOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalEmailOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPersonTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPersonTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalEmailTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalEmailTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstContactDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstContactDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondContactDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondContactDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountManager)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CompanyName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
